@model COSMIDENT.Models.Unit

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naam
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Beschrijving
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
           Artikelnummer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleNumber)
        </dd>
        <dt class = "col-sm-2">
            Barcode
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Barcode)
        </dd>
        <dt class = "col-sm-2">
            LeverancierID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierID)
        </dd>
        <dt class = "col-sm-2">
            Prijs
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            BTW-percentage
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatRate)
        </dd>
        <dt class = "col-sm-2">
            Korting
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountRate)
        </dd>
        <dt class = "col-sm-2">
            Hoeveelheid
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Wijzig</a> |
    <a asp-action="Index">Terug naar het overzicht</a>
</div>
