@model COSMIDENT.Models.Supplier

@{
    ViewData["Title"] = "Verwijder";
}

<h1>Verwijder Leverancier</h1>

<h3>Ben je zeker dat je deze leverancier wil verwijderen?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naam
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            GSM
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>
        <dt class = "col-sm-2">
            Straat
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            Huisnummer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            Postcode
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
           Woonplaats
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Verwijder" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar het overzicht</a>
    </form>
</div>
